body{
    height: 70%; 
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c8e6c9; 
  }
  header {
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 20px;
    color: #FFFFFF;
}
footer {
  width: 100%;
  bottom: 0;
  position: fixed;
  box-shadow: 1px 1px 5px #000;
}
contenedor {
  height: 80%;
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 80px;}
  
.grid-container {
  background-color: rgba(35, 0, 130, 0.178);
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 60px;
  border: solid;
  border-radius: 1em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: indigo;
  margin: 0.5em;
  margin-bottom: 0;
  padding: 1em;
  align-items: center;
  padding-top: 0;
}
.titulo {
  background-color: rgba(35, 0, 130, 0.452);
  color: #ebebeb;
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo img {
  height: 180px;
}

.subtitulo {
  margin-top: -80px;
  color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact_form{  
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}


input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #44ab5e; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #44ab5e; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #44ab5e; 
  border-color: #44ab5e; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}


button p{
  color: #fff; 
}


span{
  color: #ab4493; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: #ab4493;
}


h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}


p{
  font-size: 14px; 
  color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}
