* {
  font-family: Quicksand;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.842);
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  background: linear-gradient(to bottom right,  #69af9d83, #fffffd8c);
  text-align: justify;
}

.f-container{
  height: 100%;
  display: flex;
  flex-direction: column;
}


header,
footer{
  background-color: rgba(35, 0, 130, 0.452);
  display: flex;
  align-items: center; /*vertical*/
  justify-content: space-around; /*or space-between*/
}

div .menu{
  background-color: rgba(35, 0, 130, 0.452);
}

div .main{
  display: flex;
  justify-content: center;
}



/* fixed header and footer with scrollable main section */
.fixed-hf .main{
  overflow-y: auto;
}

.Titulo{  
  width: 100%; 
  height: auto;
}
.main{  
  align-items: center;
  justify-content: center;
  align-content: center;
}

.titulo {
  color: #ebebeb;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.titulo img {
  height: 120px;
}

.subtitulo {
  margin-top: -30px;
  color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 7em;
}

.contact_form{  
  width: 60%; 
  height: auto;
  margin: 80% auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}

.MenuWrap {
  background-color: indigo;
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.pie .texto {
  color: #ebebeb;
}

.menu-item{
  border-left: #ebebeb solid;
  padding: 0.5em;
}

.ListItem,
.LastItem {
  color: #ebebeb;
  text-decoration: none;
}

input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 15px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: indigo; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}

textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 15px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: indigo; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}

label{
  display: block; 
  float: center;  
}

button{
  height: 45px; 
  padding-top: -150px; 
  padding: auto;
  margin-bottom: auto; 
  margin-top: auto;   
  text-transform: capitalize;
  background-color: rgba(35, 0, 130, 0.178); 
  border-color: indigo; 
  border-style: solid; 
  border-radius: 15px;  
  width: 420px;   
  cursor: pointer;
  line-height: 30px;
}

button:hover{
  background-color: #ffffff;
}

button p{
  color: #fff; 
}