* {
    font-family: Quicksand;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.842);
  }

  .titulo {
    background-color: rgba(35, 0, 130, 0.452);
    color: #ebebeb;
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .titulo img {
    height: 180px;
  }

  .subtitulo {
    margin-top: -80px;
    color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .column{
    padding: 1em;
}
  
  .MenuWrap {
  background-color: indigo;
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  min-height: 2.75rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 1rem;
}
.ListItem,
.LastItem {
  color: #ebebeb;
  text-decoration: none;
}
.ListItem {
  margin-right: 1rem;
}
.LastItem {
  margin-right: auto;
}
.grid-container {
  background-color: rgba(35, 0, 130, 0.178);
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 60px;
  border: solid;
  border-radius: 1em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: indigo;
  margin: 0.5em;
  margin-bottom: 0;
  padding: 1em;
  align-items: center;
}
.grid-item {
  padding: 5px;
  font-size: 22px;
}
.parrafo {
  padding: 25px;
}
  body {
    margin: 0;
    padding: 0;
    border: 0;
    background: linear-gradient(to bottom right,  #69af9d83, #fffffd8c);
    text-align: justify;
  }
  .section{
    background-color: rgba(35, 0, 130, 0.178);
    border: solid;
    border-radius: 1em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-color: indigo;
    margin:0.5em;
    margin-top: 0;
    padding: 1em;
}
.item { 
  grid-area: footer; 
  font-size: 15px;
}
