* {
  font-family: Quicksand;
  font-size: 25px;
}
  
body{
  background: linear-gradient(to bottom right,  #69af9d83, #fffffd8c);
}

header, footer{
  background-color: rgba(35, 0, 130, 0.452);
}

.section{
  background-color: rgba(35, 0, 130, 0.178);
  border: solid;
  border-radius: 6px;
  border-color: indigo;
  margin:1em;
  margin-top: 200px;
  padding: 1em;
  text-align: center;
  width: 90%;
	max-width: 50%;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.titulo img{
  height: 120px;
}

.subtitulo{
  margin-top: -30px;
  color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 7em;
}
  
.titulo{
  color: #ebebeb;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
  
.MenuWrap{
  background-color: indigo;
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
  
.menu-item{
  border-left: #ebebeb solid;
  padding: 0.5em;
}
  
.ListItem, .LastItem{
  color: #ebebeb;
  text-decoration: none;
}

a:hover{
  color: rgb(226, 238, 55);
}

footer {
  background-color: rgba(35, 0, 130, 0.178);
  border: solid;
  border-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: indigo;
  margin-right: 100% auto;
  padding: 2em;
  font-size: 15px;
  text-align: right;
  height: auto;
}

/*Orden de los Divs*/
.Principal{
  position: relative;
  height: 200vh;
  padding: 5px;
}
.Encabezado{
  position: sticky;
  top: 0;
}
