body{
    background-color: #c8e6c9;
    color: #1B365C;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.2em;
    margin: 0.5em auto;
}

.header{
    background-color: #97b498;
    display: flex;
    justify-content: space-around;
    height: 10%;
    border: solid;
    border-radius: 1em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0.5em;
    margin-bottom: 0;
    align-items: center;
}

.logo{
    width: 120px;
    height: 120px;
    padding: 0.5em;
}

.title{
    font-size: 2em;
}

.description{
    height: 10%;
    border: solid;
    border-radius: 1em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0.5em;
    margin-top: 0;
    padding: 0.5em;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section{
    border: solid;
    border-radius: 1em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0.5em;
    margin-bottom: 0;
    padding: 0.5em;
}

label{
    display: inline-block;
    width: 100px;
}

.form{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.column{
    padding: 1em;
}

.section2{
    border: solid;
    border-radius: 1em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0.5em;
    margin-top: 0;
    padding: 0.5em;
}