* {
    font-family: Quicksand;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.842);
  }
  
  body {
    margin: 0;
    padding: 0;
    border: 0;
    background: linear-gradient(to bottom right,  #69af9d83, #fffffd8c);
    text-align: justify;
  }
  
  .f-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  
  header,
  footer{
    background-color: rgba(35, 0, 130, 0.452);
    display: flex;
    align-items: center; /*vertical*/
    justify-content: space-around; /*or space-between*/
  }
  
  
  /* fixed header and footer with scrollable main section */
  .fixed-hf .main{
    overflow-y: auto;
  }
  
  .Titulo{  
    width: 100%; 
    height: auto;
  }
  .main{  
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  
  .titulo {
    color: #ebebeb;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  
  .titulo img {
    height: 120px;
  }
  
  .subtitulo {
    margin-top: -30px;
    color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 7em;
  }
  
  .contact_form{  
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
  }
  
  .MenuWrap {
    background-color: indigo;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  
  .pie .texto {
    color: #ebebeb;
  }
  
  .menu-item{
    border-left: #ebebeb solid;
    padding: 0.5em;
  }
  
  .ListItem,
  .LastItem {
    color: #ebebeb;
    text-decoration: none;
  }

  a:hover{
      color: rgb(226, 238, 55);
  }
  
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 15px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: indigo; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 15px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: indigo; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  label{
    align-items: flex-start;
    display: block; 
    float: center;  
  }
  
  button{
    height: 45px; 
    padding-top: -150px; 
    padding: auto;
    background-color: indigo; 
    border-color: indigo; 
    border-style: solid; 
    border-radius: 15px;  
    width: 420px;   
    cursor: pointer;    
  }

.otro{
    background-color: rgba(35, 0, 130, 0.178); 
    border-color: rgb(130, 63, 0);   
  }

  button:hover{
    background-color: rgba(35, 0, 130, 0.178);
  }

  .otro:hover{
    background-color: rgba(255, 255, 255, 0.178);
  }
  button b{
    color: #fff; 
  }

  .section{
    background-color: rgba(35, 0, 130, 0.178);
    border: solid;
    border-radius: 1em;
    border-color: indigo;
    margin:0.5em;
    margin-top: 0;
    padding: 1em;
}

.section div{
  text-align: center;
}