body{
    background: linear-gradient(to bottom right,  #69af9d83, #fffffd8c);
    font-family: Arial, Helvetica, sans-serif;
    padding: 5em;
    margin: 0.5em auto;
    text-align: center;
}

.container{
    background-color: rgba(35, 0, 130, 0.178);
    border: 1px solid #999;
    border-radius: 6px;
    width: fit-content;
    margin: auto;
    padding: 1.2em;
}

.formulario{
    text-align: left;
    padding: 10px;
}

.inputs{
    padding: 0.5em;
    font-size: 1em;
    padding-right: 2em;
}

#show{
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
}

#ms{
    border: 1px solid #999;
    border-radius: 6px;
}